body{
  font-size: 7px;
}

input {
  width: 37%;
  height: 5%;
}

#inputSection{
  border: solid black 5px;
}

th{
  font-size: 10px;
}
#outputSection{
  border: solid green 5px;
  height: 303px;
}

#finalGrade{
    height: 150px;
    width: 180px;
    border: ridge #3c763d 5px;
    border-radius: 15px;
}

#calculate{
  position: relative;
  top: 5px;
  height: 50px;
  width: 135px;
}

#addAspect{
  margin-bottom: 10px;
}
#clearButton{
  margin-bottom: 10px;
}

#gradeText{
  font-size: 70px;
  text-align: center;
  padding: 13%;
}

.aspectDelete{
  border-radius: 80px;
  height: 20px;
  width: 20px;
}

#xSymbol{
  position: relative;
  right: 2px;
  top: 1px;
}
