#inputSection{
  border: solid black 5px;
}

#outputSection{
  border: solid green 5px;
  height: 303px;
}

#finalGrade{
    height: 150px;
    width: 180px;
    border: ridge #3c763d 5px;
    margin-left: 300px;
    border-radius: 15px;
}

#calculate{
  margin-left: 45%;
  margin-top: 30px;
  height: 50px;
  width: 135px;
}

#addAspect{
  margin-bottom: 10px;
}
#clearButton{
  margin-bottom: 10px;
}

#gradeText{
  font-size: 70px;
  text-align: center;
  padding: 13%;
}

.aspectDelete{
  border-radius: 80px;
}

#xSymbol{
  position: relative;
  right: 2px;
  top: 1px;
}
